

      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      body {
        font-family: "Open Sans", sans-serif;
        height: 100vh;
        background-size: cover;
      }




      @keyframes spinner {
        0% {
          transform: rotateZ(0deg);
        }
        100% {
          transform: rotateZ(359deg);
        }
      }
      * {
        box-sizing: border-box;
      }





.headerGB {
  top:0;
 margin-left: 0px;

 
  
  width: 100%;
  
  height: 50px;
  background-color: white;
   display: block;
  
}


.headerPDVSA {
  top:51;
  
 margin-left: 0px;
  
  width: 100%;
  
  height: 50px;
  background-color: red;
   display: block;
  
}

.wrapper {
    z-index:1;
  display: block;
  position: absolute;
  align-items: left;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  //background: rgba(4, 40, 68, 0.85);

}

.login {
  opacity: 0.9;
  border-radius: 0px 0px 1.5px 1.5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.headerlogin {
  //opacity: 0.9;
  border-radius: 0px 0px 1.5px 1.5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background-image: url("../../../common/img/misc/bg-blackboard.jpg");
  //background: red;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.login.loading button {
  max-height: 100%;
  padding-top: 50px;
}
.login.loading button .spinner {
  opacity: 1;
  top: 40%;
}
.login.ok button {
  background-color: #8bc34a;
}

.login.wrong button {
  background-color: red;
}


.login.ok button .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  animation: none;
  transform: rotateZ(-45deg);
}

.login.wrong button .spinner {
  display: none;
  opacity: 0;
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 0px;
  width: 0px;

  animation: none;
 //transform: rotateZ(-45deg);
  //transform: rotateX(-5deg);
}



.login input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #bfbfbf;
  transition: border-width 0.3s ease;
  border-radius: 1px;
  color: #bfbfbf;
}
.login input + i.fa {
  color: #f2f2f2;
  font-size: 1em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.login input:focus {
  outline: none;
  color: #444;
  border-color: gray;
  border-left-width: 35px;
}
.login input:focus + i.fa {
  opacity: 1;
  left: 30px;
  transition: all 0.25s ease-out;
}
.login a {
  font-size: 0.8em;
  color: #2196F3;
  text-decoration: none;
}
.login .title {
  color: #444;
  font-size: 1.1em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  padding-top: 0px;
}
.login button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #2196F3;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 65px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0px 0px;
  transform: rotateZ(0deg);
  transition: all 0.5s ease-out;
  border-bottom-width: 17px;
}
.login button .spinner {
  display: none;
  width: 37px;
  height: 37px;
  position: absolute;
  border: 5px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 15;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.login:not(.loading) button:hover {
  box-shadow: 0px 0px 0px #2196F3;
   //background-color: blue;
}
.login:not(.loading) button:hover {
  border-bottom-width: 0px;

}






#page{ 
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACBJREFUeNpiZGBg6GGAgEUggokBDTACsR6yAIYKgAADAE0GAWM9RhAyAAAAAElFTkSuQmCC);



z-index: -1;

  top:0;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  height:100%;
}





/* Bootstrap 2.3.2 and probably the same for Bootstrap 3 */

img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%; 
   max-height: 100%;
  
   height: auto !important;
  
}

.main { 
 -webkit-animation: fadeinout 4s linear 1 forwards;
    animation: fadeinout 4s linear 1 forwards;  
    background-image: url(imagesrc);
    background-size: cover;
    background-repeat: no-repeat;

     position: absolute;
    width: 100%;

    //background-color: gray;
     width: 100%;
  height: 100%;
  z-index: -1;
}


#image-holder {
    top:50;
    position:absolute;
    width:100%;
    height:100%;
    background-image: url("../../../common/img/carrousel/01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index:-1;
}

#image-holder-2 {
    top:50;
    position:absolute;
    width:100%;
    height:100%;
    background-image: url("../../../common/img/carrousel/02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index:-2;
}

#image-holder-3 {
    top:50;
    position:absolute;
    width:100%;
    height:100%;
    background-image: url("../../../common/img/carrousel/03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index:-3;
}


#image-holder-4 {
    top:50;
    position:absolute;
    width:100%;
    height:100%;
    background-image: url("../../../common/img/carrousel/04.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index:-4;
}


